#INICIA AGENTE

# Name the components on this agent
###############################
a1.sources = r1
a1.channels = c1
a1.sinks = k1

# Define / Configure Source (multiport seems to support newer "stuff")
###############################
# Exec Source
a1.sources.r1.type = exec
a1.sources.r1.channels = c1
a1.sources.r1.shell = /bin/bash -c
a1.sources.r1.command = /home/landy/flume/catdata.sh
# a1.sources.r1.interceptors = a
# a1.sources.r1.interceptors.a.type = org.apache.flume.interceptor.TimestampInterceptor$Builder

# Channels
###############################
a1.channels.c1.type = memory
a1.channels.c1.capacity = 20000
a1.channels.c1.transactionCapacity = 1000

# (Aplha) HDFS File Sink
###############################
a1.sinks.k1.channel = c1
a1.sinks.k1.type = hdfs
a1.sinks.k1.hdfs.callTimeout = 180000
a1.sinks.k1.hdfs.fileType = DataStream
a1.sinks.k1.hdfs.filePrefix = AppXYZ
a1.sinks.k1.hdfs.fileSuffix = .txt
a1.sinks.k1.hdfs.inUseSuffix = .tmp.alpha
a1.sinks.k1.hdfs.useLocalTimeStamp = true
a1.sinks.k1.hdfs.path = hdfs:///user/landy/input/%Y%m%d%H%M
a1.sinks.k1.hdfs.writeFormat = Text
a1.sinks.k1.hdfs.batchSize = 1000
# File size to trigger roll, in bytes (256Mb)
a1.sinks.k1.hdfs.rollSize = 0
# Number of seconds to wait before rolling current file (in seconds)
# Wait for N min
a1.sinks.k1.hdfs.rollInterval = 0
# Number of rows to trigger roll
a1.sinks.k1.hdfs.rollCount = 40

## TERMINA AGENTE


